@import "../../styles/colors";
@import "../../styles/responsive";

.header {
  .header-content {
    .title {
      background-color: $light-gray;

      h1 {
        color: $pink;
        font-size: 2rem;
        @include md {
          font-size: 4rem;
        }
      }
    }

    .subtitle-container {
      background-color: $pink;

      .subtitle {
        background-color: $blue;

        h2 {
          color: $white;
          font-size: 1rem;
          font-weight: bold;
          text-align: center;
          padding: 1rem 0;
          @include md {
            font-size: 2rem;
            padding: 0;
          }
        }
      }
    }
  }
}
