@import "../../styles/colors";

.header {
  .header-content {
    .title {
      background-color: $light-gray;

      h1 {
        color: $pink;
        font-size: 4rem;
      }
    }

    .subtitle-container {
      background-color: $pink;

      .subtitle {
        background-color: $blue;

        h2 {
          color: $white;
          font-size: 2rem;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}
