<div class="header row">
  <div class="header-image col-xs-12 col-sm-4">
    <img class="full-width full-height" alt="Gustavo Arenas" src="assets/logo.jpg"/>
  </div>
  <div class="header-content column middle-xs col-xs-12 col-sm-8">
    <div class="title column flex-2 center-xs full-width">
      <h1>GUSTAVO ARENAS</h1>
    </div>
    <div class="subtitle-container column flex-1 center-xs full-width">
      <div class="row full-height">
        <div class="col-xs-2"></div>
        <div class="subtitle row middle-xs col-xs-8 col-xs-offset-2 full-height center-xs">
          <h2>SENADOR DE MENDOZA</h2>
        </div>
      </div>
    </div>
  </div>
</div>
