<div class="management row">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="container">
        <div class="circle">
          <p>asd</p>
        </div>
        <div class="circle">
          <p>asd</p>
        </div>
        <div class="circle">
          <p>asd</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="container">
        <div class="circle">
          <p>asd</p>
        </div>
        <div class="circle">
          <p>asd</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>GESTIÓN LEGISLATIVA</h2>
<div class="row management">
  <div class="col-md-6">
    <ga-circles></ga-circles>
  </div>
  <div class="col-md-6">
    <ga-grid></ga-grid>
  </div>
</div>
