@import "../../../styles/colors";
@import "../../../styles/responsive";

.empty{
  height: 100%;
  width: 100%;
}
.table{
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 1rem;

  .table-title {
    font-size: 1.3rem;
  }

  .table-subtitle {
    font-size: 1rem;
  }

  .table-total {
    font-size: 2rem;
  }

  .number{
    font-size: 3rem;
  }

  .space{
    padding: 1rem 0px;
  }
}
