<div class="row table">
  <div class="col-md-2">  </div>
  <div class="col-md-5 bl">
    <p>PROYECTOS DE LEY</p>
  </div>
  <div class="col-md-5 pk">
    <p>PROYECTOS APROBADOS</p>
  </div>
</div>

<div class="row table">
  <div class="col-md-2">  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6 bl">
        <p>DIPUTADO</p>
      </div>
      <div class="col-md-6 pk">
        <p>SENADOR</p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6 bl">
        <p>DIPUTADO</p>
      </div>
      <div class="col-md-6 pk">
        <p>SENADOR</p>
      </div>
    </div>
  </div>
</div>

<div class="row table">
  <div class="col-md-2 bg-lp wh">
    <p>2010</p>
  </div>
  <div class="col-md-5">
    <div class="row bg-lb">
      <div class="col-md-6 wh">
        <p>1</p>
      </div>
      <div class="col-md-6">  </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row bg-pk empty">
      <div class="col-md-6">  </div>
      <div class="col-md-6">  </div>
    </div>
  </div>
</div>

<div class="row table">
  <div class="col-md-2 bg-pu wh">
    <p>2011</p>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6 bl">
        <p>4</p>
      </div>
      <div class="col-md-6">  </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6 bl">
        <p>3</p>
      </div>
      <div class="col-md-6">  </div>
    </div>
  </div>
</div>

<div class="row table">
  <div class="col-md-2 bg-lp wh">
    <p>2012</p>
  </div>
  <div class="col-md-5">
    <div class="row bg-lb">
      <div class="col-md-6 wh">
        <p>6</p>
      </div>
      <div class="col-md-6">  </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row bg-pk">
      <div class="col-md-6 wh">
        <p>5</p>
      </div>
      <div class="col-md-6">  </div>
    </div>
  </div>
</div>

<div class="row table">
  <div class="col-md-2 bg-pu wh">
    <p>2013</p>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6 bl">
        <p>2</p>
      </div>
      <div class="col-md-6">  </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6 bl">
         <p>1</p>
      </div>
      <div class="col-md-6">  </div>
    </div>
  </div>
</div>

<div class="row table">
  <div class="col-md-2 bg-lp wh">
    <p>2014</p>
  </div>
  <div class="col-md-5">
    <div class="row bg-lb">
      <div class="col-md-6 wh">
        <p>1</p>
      </div>
      <div class="col-md-6 wh">
        <p>6</p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row bg-pk">
      <div class="col-md-6 wh">
        <p>1</p>
      </div>
      <div class="col-md-6 wh">
        <p>2</p>
      </div>
    </div>
  </div>
</div>

<div class="row table">
  <div class="col-md-2 bg-pu wh">
    <p>2015</p>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6">  </div>
      <div class="col-md-6 bl">
        <p>11</p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6">  </div>
      <div class="col-md-6 bl">
        <p>3</p>
      </div>
    </div>
  </div>
</div>

<div class="row table">
  <div class="col-md-2 bg-lp wh">
    <p>2016</p>
  </div>
  <div class="col-md-5">
    <div class="row bg-lb">
      <div class="col-md-6">  </div>
      <div class="col-md-6 wh">
        <p>24</p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row bg-pk">
      <div class="col-md-6">  </div>
      <div class="col-md-6 wh">
        <p>4</p>
      </div>
    </div>
  </div>
</div>

<div class="row table">
  <div class="col-md-2">  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6 bl">
        <p>14</p>
      </div>
      <div class="col-md-6 bl">
        <p>41</p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6 pk">
        <p>10</p>
      </div>
      <div class="col-md-6 pk">
        <p>9</p>
      </div>
    </div>
  </div>
</div>

<div class="row table wh">
  <div class="col-md-6 bg-lb">
    <div class="row">
      <div class="col-md-4">
        <p>55</p>
      </div>
      <div class="col-md-8">
        <p>PROYECTOS</p>
        <p>DE LEY</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 bg-pk">
    <div class="row">
      <div class="col-md-4">
        <p>19</p>
      </div>
      <div class="col-md-8">
        <p>LEYES</p>
        <p>APROBADAS</p>
      </div>
    </div>
  </div>
</div>
