@import "../../styles/colors";
@import "../../styles/responsive";

.projects {
  .project {
    @include sm {
      padding: 0 1rem;
    }
    margin-bottom: 2rem;

    .project-title {
      display: inline-block;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
    }
  }
}
