$light-blue: rgb(0, 173, 237);
$blue: rgb(22, 98, 162);

$light-purple: rgb(90, 125, 168);
$purple: rgb(74, 104, 141);

$pink: rgb(244, 130, 105);

$white: rgb(255, 255, 255);
$light-gray: rgb(242, 243, 244);
$gray: rgb(128, 131, 137);
$dark-gray: rgb(93, 93, 93);
$darker-gray: rgb(81, 82, 82);
$black: rgb(0, 0, 0);

// background
.bg-light-blue {
  background-color: $light-blue;
}

.bg-blue {
  background-color: $blue;
}

.bg-light-purple {
  background-color: $light-purple;
}

.bg-purple {
  background-color: $purple;
}

.bg-pink {
  background-color: $pink;
}

.bg-white {
  background-color: $white;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-gray {
  background-color: $gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-darker-gray {
  background-color: $darker-gray;
}

.bg-black {
  background-color: $black;
}

// color
.light-blue {
  color: $light-blue;
}

.blue {
  color: $blue;
}

.light-purple {
  color: $light-purple;
}

.purple {
  color: $purple;
}

.pink {
  color: $pink;
}

.white {
  color: $white;
}

.light-gray {
  color: $light-gray;
}

.gray {
  color: $gray;
}

.dark-gray {
  color: $dark-gray;
}

.darker-gray {
  color: $darker-gray;
}

.black {
  color: $black;
}

// ul{
//   li{
//   list-style: circle;
//   list-style-position: inside;
//   }
//   p{
//     margin-left: 32px;
//   }
// }
