@import "../../../styles/colors";
@import "../../../styles/responsive";

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* min-height: 100%; */
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 2rem 0;

  &:first-child {
    padding-bottom: 0;
  }

  &:last-child {
    padding-top: 0;
  }

  @include md {
    &:first-child {
      padding: 2rem 0;
    }

    &:last-child {
      padding: 2rem 0;
    }
  }

}
.circle{
  display: flex;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px 0px;

  .circle-content{
    text-align: center;
    padding: 0 1rem;
    /* padding-top: 75px; */
    p{
     color: $white;
     font-size: 1rem;
     text-align: left;
     line-height: 1;
    }
    .number{
      font-weight: bold;
      font-size: 2rem;
    }
  }

}
