// fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// global
@import "~reset-css/reset";
@import "~flexboxgrid/dist/flexboxgrid";

html, body {
  font-family: 'Ubuntu', Arial, sans-serif;
  letter-spacing: 1px;
}

// remove margin and padding from flexboxgrid
.container-fluid, .row {
  margin: 0;
  padding: 0;
}

@for $i from 1 through 12 {
  $prefixes: xs sm md lg;
  @each $p in $prefixes {
    .col-#{$p}-#{$i} {
      padding: 0;
    }
  }
}

// custom
@import "./styles/colors";
@import "./styles/text";
