@import "../../../styles/colors";


.title {
  h1 {
    background-color: $light-gray;
    color: $pink;
    font-size: 4rem;
    padding: 3rem;
  }
}

.subtitle {
  background-color: $pink;

  .subtitle {
    background-color: $blue;
    color: $white;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
  }
}
